@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.top-bar {
  background: #fef7f6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.upper-case {
  text-transform: uppercase;
}

.lower-case {
  text-transform: lowercase;
}

.set-width {
  max-width: 1140px;
  margin: 0 auto;
}

.top-bar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 11px;
  padding: 9px 0;
}

.top-bar-wrapper ul li {
  display: inline-block;
  padding: 0 23px;
  border-right: 1px solid black;
}

.top-bar-wrapper ul li a {
  color: #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.top-bar-wrapper ul li:last-child {
  padding-right: 0;
  border-right: none;
}

.top-bar-wrapper ul li:first-child {
  padding-left: 0;
}

.top-bar-wrapper ul li a:hover {
  color: #4b4b4b;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* end of top-bar */
.nav-bar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 27px 0;
}

.nav-bar i {
  display: none;
}

.nav-bar ul li i {
  display: block;
}

.nav-bar-wrapper ul li {
  display: inline-block;
}

.nav-bar-wrapper p.logo {
  font-size: 34px;
  font-weight: bold;
}

.nav-bar-wrapper p.logo::after {
  content: ".";
  color: #ff5454;
}

.nav-bar-wrapper ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bars .bar {
  width: 35px;
  height: 6px;
  background: #000;
  margin-top: 5px;
}

ul.menu-items li {
  margin-right: 40px;
  font-size: 13px;
  font-weight: 500;
}

ul.side-menu-items li {
  margin-right: 30px;
  position: relative;
}

.nav-inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: white;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  margin-left: 150px;
}

.bars {
  display: none;
}

.alert-circle {
  background: #ff5454;
  font-size: 8px;
  color: white;
  border-radius: 50%;
  display: inline-block;
  height: 16px;
  width: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: -9px;
  left: 10px;
}

/* end of nav-bar */
.main-banner {
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.banner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

p.subhead {
  font-size: 8px;
  margin-bottom: 30px;
}

.left-side h2 {
  font-size: 60px;
}

.left-side {
  width: 50%;
  text-align: center;
}

.right-side {
  width: 50%;
}

.right-side img {
  width: 100%;
  display: block;
  height: auto;
}

a.button {
  background-color: #ff5454;
  padding: 10px 20px;
  color: white;
  display: inline-block;
  margin-top: 30px;
  font-weight: 600;
}

/* */
.p-100 {
  padding: 100px 0;
}

.heading h2 {
  text-align: center;
  font-size: 36px;
}

.heading {
  margin-bottom: 80px;
}

.cards-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.img-container {
  background: tomato;
  width: 100%;
}

.img-container img {
  width: 100%;
  display: block;
}

.card {
  width: 31%;
}

.card:last-child {
  padding-right: 0;
}

.card-description {
  text-align: center;
  margin-top: 30px;
}

.card-description p.card-title {
  font-size: 14px;
  font-weight: 200;
  color: #626262;
}

.card-description p.price {
  font-size: 18px;
  font-weight: 500;
}

.card-description i {
  margin: 15px 0;
  font-size: 14px;
  color: #ff5454;
}

.img-container {
  position: relative;
}

.hover-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: auto;
  top: 80%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hover-elements .element i {
  background: white;
  padding: 15px;
  border-radius: 50%;
  margin: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.img-container:hover .hover-elements {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: 75%;
}

.hover-elements i:hover {
  background: #ff5454;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* small banner */
.small-banner {
  background: #e9e2d8;
}

.small-banner .banner-wrapper .left-side h2 {
  font-family: 'Dancing Script', cursive;
}

.small-banner .banner-wrapper .left-side p {
  margin-top: 20px;
}

.owl-carousel .card {
  width: 100%;
}

.owl-dots {
  margin-top: 30px;
  text-align: center;
}

.owl-carousel button.owl-dot {
  height: 12px;
  width: 12px;
  background: #c6b5a1;
  border-radius: 50%;
  margin: 6px;
}

button.owl-dot.active {
  background: #ff5454;
}

.trending-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  gap: 25px 20px;
}

.trending-body .card {
  width: 100%;
}

.features-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  gap: 30px;
}

.f-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 20px;
  background: #fff;
  padding: 25px;
  -webkit-box-shadow: 0 0 0.5px grey;
          box-shadow: 0 0 0.5px grey;
}

.f-card i {
  color: #ff5454;
}

.f-card p {
  color: #626262;
}

.our-features {
  text-align: center;
}

.silon-journal-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  gap: 20px;
}

.silon-journal-body .journal-card img {
  width: 100%;
}

.silon-journal-body .journal-card .journal-details {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 15px;
}

.silon-journal-body .journal-card .journal-details p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.silon-journal-body .journal-card .journal-details p::before {
  content: '';
  display: inline-block;
  background: #ff5454;
  height: 7px;
  width: 15px;
  border-radius: 2px;
  margin-right: 15px;
}

.silon-journal-body .journal-card .journal-details h3 {
  font-size: 22px;
}

.silon-journal-body .journal-card .journal-details a {
  color: grey;
}

.silon-journal-body .journal-card .journal-details a:hover {
  color: #ff5454;
}

.silon-journal-body .journal-card .journal-details hr {
  border: 0.1px solid #cfcfcf;
  width: 100%;
}

.followus-img-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  gap: 20px;
}

.followus-img-container .follow-image {
  display: inline-block;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}

.followus-img-container .follow-image .follow-img-overlay {
  position: absolute;
  top: 50%;
  background: #ff5454;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.followus-img-container .follow-image:hover .follow-img-overlay {
  top: 0%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.3;
}

.followus-img-container .follow-image:hover i {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.followus-img-container i {
  z-index: 99;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.followus-img-container img {
  width: 100%;
  display: block;
}

.featured-product img {
  width: 100%;
}

footer {
  background: #d6d8d9;
  padding: 20px;
  text-align: center;
  font-weight: medium;
  color: #888888;
}

@media (max-width: 1140px) {
  section:first-child {
    display: none;
  }
  .nav-bar-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .responsive-navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .responsive-navbar p {
    display: inline-block;
  }
  .responsive-navbar .bars {
    display: inline-block !important;
    text-align: right;
  }
  .nav-inner-wrapper {
    display: none;
  }
  .nav-inner-wrapper-res {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-left: 0px;
    -webkit-transition: all .3s linear 0s;
    transition: all .3s linear 0s;
    -webkit-animation-name: 'fadeNav';
            animation-name: 'fadeNav';
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
  }
  .nav-inner-wrapper-res ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-inner-wrapper-res ul li {
    margin-top: 15px;
    text-align: right;
  }
  @-webkit-keyframes fadeNav {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }
  @keyframes fadeNav {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }
  .set-width {
    padding: 15px 20px;
  }
}

@media (max-width: 900px) {
  .p-100 {
    padding: 50px 0px;
  }
  .heading {
    margin-bottom: 30px;
  }
  .banner-wrapper {
    padding: 100px 0;
  }
  .banner-wrapper .left-side {
    width: 100%;
  }
  .banner-wrapper .left-side .subhead {
    font-size: 16px;
  }
  .banner-wrapper .right-side {
    display: none;
  }
  .features-body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    gap: 30px;
  }
  .trending-body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    gap: 25px 20px;
  }
  .followus-img-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    gap: 20px;
  }
}

@media (max-width: 500px) {
  .p-100 {
    padding: 30px;
  }
  .heading {
    margin-bottom: 20px;
  }
  .featured-product-container .cards-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .featured-product-container .cards-row .card {
    width: 100%;
    margin-top: 30px;
    padding: 10px 0;
  }
  .featured-product-container .cards-row .card:first-child {
    margin-top: 0px;
  }
  .features-body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto);
    gap: 30px;
  }
  .trending-body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto);
    gap: 25px 20px;
  }
  .silon-journal-body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto);
    gap: 20px;
  }
  .followus-img-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto);
    gap: 20px;
  }
}
/*# sourceMappingURL=style.css.map */